* {
    margin: 0;
    padding: 0;
        scroll-behavior: smooth;
        color: white;
}   

a {
    text-decoration: none;
}

.allContainer {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(23, 60, 27), rgb(42, 34, 77));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes slide_in_left {
    from {
        opacity: 0;
        transform: translateX(-400px);
    }
    to {   
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide_in_right {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {   
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Logos animations */
@keyframes translateRight {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(800px);
    }
}

@keyframes translateBottom {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(800px);
    }
}

@keyframes translateLeft { 
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-800px);
    }
}

@keyframes translateTop {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-800px);
    }
}

/* Fonts */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* Header Section */

.navbar {
    width: 100%;
    height: 100px;
    background-color: none;
    display: flex;
    align-items: center;
}

.logo{
    width: 100%;
    padding-left: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo h1 {
    font-size: 55px;
}

.logo h2 {
    margin-left: 15px;
    font-size: 17px;
    margin-top: 15px;
}

.options {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    animation: slide_in_right 1.5s;
}

.optnbox {
    width: 150px;
    height: 100px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optnbox:hover {
    color: orange;
    transition-duration: 0.8s;
    cursor: pointer;
}

/* Main Page */

.infoContainer {
    width: 100%;
    height: 850px;
    background-color: none;
    display: flex;
}

.parasInfo {
    margin-top: 100px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    animation: slide_in_left 1.5s;
}

.parasInfo h2 {
    font-family: 'Montserrat';
    color: rgb(100, 185, 166);
}

.parasInfo h1 {
    font-family: 'Montserrat';
    font-size: 55px;
    margin-top: 20px;
}

.parasInfo h4 {
    font-family: 'Montserrat';
    color:grey;
    font-size: 20px;
    margin-top: 20px;
}

#workwithme {
    width: 200px;
    height: 60px;
    margin-left: 0px;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
    color:black;
    cursor:pointer;
    background-color: rgb(100, 185, 166);
    transition-duration: 0.4s;
    border: none;
}

#workwithme:hover {
    background-color:orange;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.8);
}

.socialContainer {
    width: 300px;
    background-color: none;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

.socialContainer .socialHolder {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.socialContainer .socialHolder:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(255, 255, 255, 1);
}


/* Image customization here */

.imageContainer {
    width: 70%;
    height: 800px;
    background-color: none;
    background-size: cover;
    margin-right: 70px;
    scale: 0.6;
    animation: fade_in 1.5s;
    transition-duration: 1s;
}


.whiteCube{
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: -60px;
    margin-top: -860px;
}

.gradCube {
    background-color: rgb(100, 185, 166);
    width: 800px;
    height: 700px;
    margin-left: 70px;
    margin-top: -70px;
}

/* Language logo display animations */

.imageContainer .cppimg {
    position: absolute;
    top: -90px;
    left: -50px;
    animation: translateRight 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.imageContainer .javaimg {
    position: absolute;
    top: -100px;
    right: -20px;
    animation: translateBottom 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    padding-bottom: 5px;
}

.imageContainer .pyimg {
    position: absolute;
    bottom: -70px;
    right: -10px;
    animation: translateLeft 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.imageContainer .dbimg {
    position: absolute;
    left: -50px;
    bottom: -70px;
    animation: translateTop 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.logos {
    background-color: rgba(255, 255, 255, 1);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer:hover {
    transform: scale(1.05);
}

/* About me section */

.aboutMeContainer {
    background-color: none;
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutMeContainer h1 {
    color: white;
    font-size: 58px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.consolelogclass {
    color: rgb(116, 112, 112)
}

.cardsHolder {
    width: 100%;
    height: 1000px;
    background-color: none;
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}

.myCard {
    width: 45%;
    height: 700px;
    margin-top: 50px;
    background-color: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.aboutMeDivs {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.aboutMeDivs h3 {
    color: grey;
    transition-duration: 0.3s;
    padding-left: 0px;
}

.dataSwitcher {
    position: absolute;
    transition-duration: 0.3s;
}

#skillsData {
    opacity: 0;
}

#projectsData{
    opacity: 0;
}

#resumeData{
    opacity: 0;
}

/* Experience tab */

#experienceData h3 {
    font-size: 35px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(100, 185, 166);
    animation: slide_in_right 1s;
}

#skillsData h3 {
    font-size: 35px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(100, 185, 166);
    animation: slide_in_right 1s;
}
#skillsData i {
    font-size: 40px;
}
#skillsData p {
    font-size: 22px;
    padding-bottom: 20px;
}

#projectsData h3 {
    font-size: 35px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(100, 185, 166);
    animation: slide_in_right 1s;
}

